{block content}
<h1 n:block=title>Přihlášení</h1>
{if $user->isLoggedIn()}
{else}
    {control signUpForm}
    <a class="link" n:href="Sign:renewpass">zapomenuté heslo?</a>
{/if}

{/block}

{block scripts}
{/block}


{block head}
{/block}
